/* styles.css */
:root {
    --button-color: rgb(71, 85, 85); 
    --button-color-hover:rgb(126, 150, 150);
    --learning-color-hover:rgba(9, 52, 52, 0.726);
  }
body,
html {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
    background-color: dimgray;
    color: white;
    background-image: url('bg_img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#avatar {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 60.5rem;
    z-index: 0;
}

#controls {
    display: block;
    position: absolute;
    top: 50px;
    left:1300px;
    height: 50px;
}

#text {
    position: absolute;
    width: calc(100% - 110px);
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 110px;
    font-family: Arial;
    font-size: 20px;
}

#speak {
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--button-color);
    position: absolute;
    top: 100%;
    bottom: 0;
    right: -10rem;
    height: 50%;
    width: 100px;
    font-size: 20px;
}
#speak:hover{
    background-color: var(--button-color-hover);
}

#loading {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 50px;
    font-family: Arial;
    font-size: 20px;
}

#conversation {
    position: absolute;
    top: 620px;
    left: 20px;
    right: 500px;
    bottom: 10px;
    overflow-y: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#assesment {
    margin: 0%;
    position: absolute;
    top: 100px;
    left: 20px;
    right: 600px;
    bottom: 500px;
    font-size: large;
    /* background-color: rgba(255, 255, 255, 0.56); */
}

.buttons{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

}
.button{
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.button:hover{
    background-color: var(--button-color-hover);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.new-button {
    /* Add your desired styles here */
    background-color: var(--button-color);
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-button:hover {
    background-color: var(--button-color-hover);
}

#learning{
    overflow: auto;
    background-color: var(--learning-color-hover);
    display: none;
    margin: 0%;
    position: absolute;
    top: 200px;
    left: 20px;
    right: 450px;
    bottom: 170px;
    font-size: 100%;
    color: rgb(255, 255, 255);
    padding: 20px;
}

#take-assesment{
    display: none;
    position: absolute;
    background-color: var(--button-color);
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom: -160%;
    left: 40%;
    /* z-index: 1; */
}

.takeAssessmentButton:hover{
    background-color: var(--button-color-hover);
}

#assessment-container{
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
}

#assesmentsubmit{
    display: none;
}

#logoutButton {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

#logoutButton:hover {
    background-color: #c82333;
}
